USE [LogycaColabora]
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarItemCambioPrecio]    Script Date: 21/10/2022 8:19:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[SP_AgregarItemCambioPrecio]
/*
Nombre: [DBO].[SP_ItemCotizacion]
Proposito: Agrega la información de los items para el conector de cambio de precios.
Parametros:
	@NRO_DOC: Numero del documento.
	@NOMB_DOC: Nombre del documento.
	@GLN_PROV: Gln proveedor.
	@GLN_COMP: Gln comprador.
	@GTIN: Refererncia del item.
	
	@NIT: Nit del proveedor.
	@SUCURSAL: Numero de la sucusal del proveedor.

	@MONEDA: Moneda del item (COP)
	@PRECIO: Precio del item.
	@UND_MED: Unidad de medida del item.
	@FECHA_ACT: Fecha de activación del precio.
	@TMPO_ENT: Tiempo de entrga del proveedor.
	
Fecha creación: 19-12-2017 9:52 am
Programador: Dionisio Carmona

Modificaciones:
	Fecha:
	Descripción: 
	Programador:
*/
@NRO_DOC AS VARCHAR(50),
@NOMB_DOC AS VARCHAR(100),
@GLN_PROV AS VARCHAR(20),
@GLN_COMP AS VARCHAR(20),
@GTIN AS VARCHAR(20),
@DESCRIPCION AS VARCHAR(40),
@MONEDA AS VARCHAR(3),
@PRECIO AS VARCHAR(20),
@UND_MED AS VARCHAR(4),
@TMPO_ENT AS VARCHAR(3),
@PORC_DESCTO AS VARCHAR(10),
@EVENTO_COM AS VARCHAR(150),
@FECHA_INI AS DATE,
@FECHA_FIN AS DATE,
@PORC_DESCTO2 AS VARCHAR(10),
@EVENTO_COM2 AS VARCHAR(150),
@FECHA_INI2 AS DATE,
@FECHA_FIN2 AS DATE,
@PORC_DESCTO3 AS VARCHAR(10),
@EVENTO_COM3 AS VARCHAR(150),
@FECHA_INI3 AS DATE,
@FECHA_FIN3 AS DATE,
@FECHA_ACT AS VARCHAR(10),
@FECHA_HASTA AS VARCHAR(10),
@ID AS NCHAR(10),
@IMPUESTO AS VARCHAR(10)
AS
BEGIN TRY
	IF NOT EXISTS(SELECT * FROM CambioPrecio
							INNER JOIN Documentos ON do_numero_doc=cp_numero_doc AND do_nombre_doc=cp_nombre_doc 
													AND do_gln_proveedor=cp_gln_proveedor AND do_gln_comprador=cp_gln_comprador
							 WHERE do_numero_doc=@NRO_DOC AND do_nombre_doc=@NOMB_DOC 
									AND do_gln_proveedor=@GLN_PROV AND do_gln_comprador=@GLN_COMP AND cp_gtin=@GTIN)
	BEGIN 
		INSERT INTO CambioPrecio (cp_numero_doc, cp_nombre_doc, cp_gln_proveedor, cp_gln_comprador, cp_gtin, cp_descripcion,
								cp_moneda, cp_precio, cp_unidad_med, cp_tiempo_entrega,
								cp_porc_dscto, cp_evento_comercial, cp_fecha_ini, cp_fecha_fin, 
								cp_porc_dscto2, cp_evento_comercial2, cp_fecha_ini2, cp_fecha_fin2,
								cp_porc_dscto3, cp_evento_comercial3, cp_fecha_ini3, cp_fecha_fin3,
								cp_aceptado, cp_fecha_act, cp_fecha_hasta, cp_id, cp_impuesto)
		VALUES(@NRO_DOC, @NOMB_DOC, @GLN_PROV, @GLN_COMP, @GTIN, @DESCRIPCION, @MONEDA, @PRECIO, @UND_MED, @TMPO_ENT,
						@PORC_DESCTO, @EVENTO_COM, @FECHA_INI, @FECHA_FIN, 
						@PORC_DESCTO2, @EVENTO_COM2, @FECHA_INI2, @FECHA_FIN2,
						@PORC_DESCTO3, @EVENTO_COM3, @FECHA_INI3, @FECHA_FIN3,
						1, @FECHA_ACT, @FECHA_HASTA, @ID, @IMPUESTO)
	END
END TRY
BEGIN CATCH
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    SELECT @ErrorMessage = ERROR_MESSAGE(),
           @ErrorSeverity = ERROR_SEVERITY(),
           @ErrorState = ERROR_STATE();
           RAISERROR (@ErrorMessage, -- Message text.
               @ErrorSeverity, -- Severity.
               @ErrorState -- State.
               );
END CATCH

