<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="NegociacionesLogycaColabora.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<connectionStrings>
		<!--<add name="unoee" connectionString="Data Source=10.210.20.8;user id=pricat;Pwd=Invercomer1.;initial catalog=unoee_invercomer; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="logyca" connectionString="Data Source=10.210.20.8;user id=pricat;Pwd=Invercomer1.;initial catalog=LogycaColabora; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="portafolio" connectionString="Data Source=10.210.20.8;Initial Catalog=portafolio;User Id=portafolio;Pwd=Invercomer1.; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
		<add name="unoee" connectionString="Data Source=192.168.0.3;user id=pricat;Pwd=Invercomer1.;initial catalog=unoee_invercomer; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="logyca" connectionString="Data Source=192.168.0.3;user id=pricat;Pwd=Invercomer1.;initial catalog=LogycaColabora; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="portafolio" connectionString="Data Source=192.168.0.3;Initial Catalog=portafolio;User Id=portafolio;Pwd=Invercomer1.; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="pwdchar" value="●"/>
		<add key="cc" value="avergara@megatiendas.co"/>
		<add key="smtp" value="mail.megatiendas.co"/>
		<add key="puerto" value="2025"/>
		<add key="from" value="pricat@megatiendas.co"/>
		<add key="pwd" value="Invercomer1."/>
		<add key="imagen" value="https://www.megatiendas.co/static/media/logo-megatiendas.7b88c884.png"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
 <applicationSettings>
  <NegociacionesLogycaColabora.Properties.Settings>
   <setting name="NegociacionesLogycaColabora_WSUNOEE_WSUNOEE" serializeAs="String">
    <value>http://190.131.208.98:8095/WSUNOEE/WSUNOEE.asmx</value>
   </setting>
  </NegociacionesLogycaColabora.Properties.Settings>
 </applicationSettings>
</configuration>
